{{#each bills as |bill|}}
{{log book}}
<section data-id="{{bill.id}}">
  <h6>Bill:</h6>
  <h5>
    ID: {{bill.id}}
  <h5/>
  <h5>
    TYPE OF: {{bill.type_of}}
  <h5/>
  <h5>
    AMOUNT: ${{bill.amount}}
  <h5/>
  <h5>
    DUE ON: {{bill.due_on}}
  <h5/>
  <button data-id="{{bill.id}}" class="btn btn-danger delete-btn">Delete</button>
</section>
{{/each}}
